
<div align="left" style="margin-top: 10%">

  <div class="panel panel-primary">
    <div class="panel-heading">	
		<h4><i class="fa fa-photo"></i>&nbsp; {{ 'ui.display' | translate }}</h4>
	</div>
   <div class="panel-body"> 
   <div>
    <img src="/images/sense-hat.jpg" width="200">
    <img class="pixel" src="data:image/png;base64,{{main.status.display.image_data}}" width="100px" style="position:absolute;margin-top:33px; margin-left:-179px;">
   </div>

	</div>
	<div class="row">
        <div class="col-xs-1 col-md-2" ng-repeat="s in images"  style="min-width: 110px;">
		<a class="thumbnail" ng-click="Show(s.attributes.filename)"><img class="pixel" src="data:image/png;base64,{{s.attributes.data}}" width="100px" height="100px"></a>
        </div>
	</div>

</div>
	<pre class="well well-sm">{{main.status.display}}</pre>
</div>
