<div ng-controller="MainCtrl">
  <!--toggle sidebar button-->
  <!--<p class="visible-xs">
    <button type="button" class="btn btn-primary btn-xs" ng-click="toggleMenu()"><i class="glyphicon glyphicon-chevron-left"></i>
    </button>
        </p>-->
  <div class="col-sm-9 col-md-10 notif">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{ alert.msg }}</alert>
  </div>
</div>
<div class="col-sm-9 col-md-10 main" ui-view="content"></div>

