<div class="col-sm-3 col-md-2 sidebar-offcanvas hidden-xs" id="sidebar" role="navigation">
  <ul class="nav nav-sidebar">
    <li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="dashboard">{{ 'ui.dashboard' | translate }}</a>
    </li>
  </ul>
  <ul class="nav nav-sidebar">
	  <li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="status"><i class="fa fa-tree"></i>&nbsp;  {{ 'ui.status' | translate }}</a>
    </li>
	<li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="music"><i class="fa fa-music"></i>&nbsp;  {{ 'ui.music' | translate }}</a>
    </li>
	<li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="display"><i class="fa fa-photo"></i>&nbsp;  {{ 'ui.display' | translate }}</a>
    </li>
    <li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="topper"><i class="fa fa-star"></i>&nbsp;  {{ 'ui.topper' | translate }}</a>
    </li>
	<li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="sensors"><i class="fa fa-area-chart"></i>&nbsp; {{ 'ui.sensors' | translate }}</a>
    </li>
  </ul>
</div>

