<div class="col-sm-3 col-md-2 sidebar-offcanvas hidden-xs" id="sidebar" role="navigation">
  <ul class="nav nav-sidebar">
    <li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="dashboard">{{ 'ui.dashboard' | translate }}</a>
    </li>
  </ul>
  <ul class="nav nav-sidebar">
	  <li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="status"><i class="fa fa-tree"></i> {{ 'ui.status' | translate }}</a>
    </li>
	<li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="hosting.list"><i class="fa fa-music"></i> {{ 'ui.music' | translate }}</a>
    </li>
	<li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="web.aggregate"><i class="fa fa-photo"></i> {{ 'ui.display' | translate }}</a>
    </li>
    <li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="database.aggregate"><i class="fa fa-star"></i> {{ 'ui.topper' | translate }}</a>
    </li>
	<li ui-sref-active="active"><a ui-sref-active="not-active" ui-sref="mail.aggregate"><i class="fa fa-area-chart"></i> {{ 'ui.sensors' | translate }}</a>
    </li>
  </ul>
</div>

