
<div align="center" style="margin-top: 15%">
	<img src="/images/topper-seq0.gif" ng-src="/images/topper-seq{{main.status.topper.sequence_id}}.gif" alt="*" width="50px"><br/>
	<i class="fa fa-tree" style="color:#1ABC9C;font-size: 1250%"></i>
	<img class="pixel" src="data:image/png;base64,{{main.status.display.image_data}}" width="20px" style="position:absolute;margin-top:33px; margin-left:-106px  ;">

	<br/>
	<div ng-if="main.status.music.status=='playing'"> 
		  <img src="/images/speaker-subwoofer-animation-2-2.gif" width="50px" Xstyle="position:absolute;margin-top:-33px; margin-left:-86px">

		  <em>{{main.status.music.filename }}</em></div>
		  <!--
		<li class="hidden">Topper : {{main.status.topper }}</li>
		<li class="hidden">Display : {{main.status.display }}</li>
		-->

</div>
