
<div align="left" style="margin-top: 10%">

  <div class="panel panel-primary">
    <div class="panel-heading">	
		<h4><i class="fa fa-star"></i>&nbsp; {{ 'ui.topper' | translate }}</h4>
	</div>
   <div class="panel-body"> 
   <div>
    <img src="/images/topper-seq0.gif" ng-src="/images/topper-seq{{main.status.topper.sequence_id}}.gif" alt="*" width="100px"> 
   </div>

	</div>
	<div class="row">
        <div class="col-xs-1 col-md-2" ng-repeat="s in sequences" style="min-width: 110px;">
		<a class="thumbnail" ng-click="Start(s.attributes.id)"><img src="/images/topper-seq0.gif" ng-src="/images/topper-seq{{s.attributes.id}}.gif" width="100px" height="100px" ></a>
        </div>
	</div>

</div>
	<pre class="well well-sm">{{main.status.topper}}</pre>
</div>
